.content ul{
    list-style: none;
    padding: 0;
    margin-top: 40px;
}
.content li{
    box-shadow: 0 0 40px 1px #01588a;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}