.small{
    margin: 20px auto;
    cursor: pointer;
    width: 40%;
    filter: sepia(1);
}
.big{
    box-shadow: 5px 5px 12px 2px gray;
    padding: 10px;
    width: 80%;
    margin: 20px;
    box-sizing: border-box;
    cursor: pointer;
}