nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: #61dafb;
    padding: 20px;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: white;
}